.spacer {
  flex: 1 1 auto;
}

.mat-select-theme {
  display: inline-block;
  width: 100px;
  outline: 0;
}

.mat-select-arrow {
  visibility: hidden;
}

.mat-select-language {
  display: inline-block;
  width: 50px;
  outline: 0;
}
.example-container{
  height: auto;
  background: white;
  position: relative;
}
.logo {
  width: auto;
  height: 30px;
  display: inline-block;
}

.vi{
  background:  url("../../../assets/Flags/vi.ico")  center / contain no-repeat;
  white-space: nowrap;
}
.en{
  background:  url("../../../assets/Flags/en.ico")  center / contain no-repeat;
  white-space: nowrap;
}
.spacer {
  flex: 1 1 auto;
}

.container-fluid {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height:100px;
  background: white;
  padding-bottom: 6rem;

}

mat-sidenav {
  width: 250px;;
}

.circle {
  border-radius: 50%;
}

.with-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  max-height: 130px;
}

.no-shadow {
  box-shadow: none !important;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0px !important;
  padding-left: 10px !important;
}

.header-box-shadow {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.bottom-to-top {
  border: 0px;
  border-right: 1px;
  border-style: solid;
  border-image:
    linear-gradient(to top, #c1c1c1, rgba(0, 0, 0, 0)) 1 100%
}
.footer {
  position: absolute;
  bottom: 0;
  background-color: #efefef;
  text-align: center;
}
